.Forma {
    background: linear-gradient(0deg, #E9EAF9 0%, #F5F5FF 100%);
    margin-inline: 260px;
    margin-bottom: 96px;
    text-align: center;
    padding: 48px 190px;

    &-title {
        font-size: 36px;
        font-weight: 600;
        line-height: 43.88px;
    }

    &-info {
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
        margin-block: 48px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    } 

    &-button {
        background-color: #737BE1;
        width: fit-content;
        padding: 12px 18px;
        border-radius: 8px;
        color: #fff;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        cursor: pointer;
    }
}

input[type="text"] {
    font-size: 21px;
    font-weight: 400;
    font-family: inherit;
    padding: 12px 16px;
    border-radius: 8px;
    margin-inline: 10px;
    width: 280px;
    border: none;

    &:focus {
        border: 2px solid rgba(115, 123, 225, 1);
    }

    &:invalid {
        border: 1px solid rgba(225, 115, 115, 1)
    }
}