.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;

    &-dialog {
        width: 36%;
        max-width: 1440px;
        background: linear-gradient(0deg, #E9EAF9 0%, #F5F5FF 100%);
        position: relative;
        max-height: calc(100vh - 40px);
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        gap: 24px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: slide-in;
        animation-duration: 0.5s;
        padding: 180px 360px;
        
        @media (max-width: 899px) {
            padding: 210px 18px;
            width: 85%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
          }
    }

    &-text {
        font-size: 24px;
        font-weight: 600;
        color: rgba(115, 123, 225, 1);
    }
}