.Header {

  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 57px 260px;
  box-sizing: border-box;

  @media (min-width: 900px) and (max-width: 1750px) {
    padding: 40px 100px;
  }

  @media (max-width: 899px) {
    padding: 30px 20px;
  }

  &-logo {
    pointer-events: none;
    display: flex;
    gap: 15px;

    @media (max-width: 899px) {
      flex-direction: column;
      gap: 6px;
    }
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 18.2px;
    width: 180px;

    @media (max-width: 899px) {
      width: unset;
    }

    @media (min-width: 900px) and (max-width: 1750px) {
      font-size: 12px;
      width: unset;
    }
  }

  &-link {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-inline: 12px;
    padding: 8px 24px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #4F58C9;
      background-color: #E9EAF9;
      border-radius: 4px;
    }

    @media (max-width: 899px) {
      display: none;
    }

    @media (min-width: 900px) and (max-width: 1750px) {
      padding: 8px 12px;
      font-size: 14px;
      margin-inline: 5px;
    }
  }
}

.bold {
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 600;

  @media (min-width: 900px) and (max-width: 1750px) {
    font-size: 16px;
  }
}

.phone {
  @media (max-width: 899px) {
    display: none;
  }
}

.fl {
  @media (min-width: 900px) and (max-width: 1750px) {
    flex-direction: column;
    gap: 6px;
  }
}