.Footer {
    display: flex;
    justify-content: space-between;
    background: rgba(79, 88, 201, 1);
    padding: 60px 260px;

    @media (max-width: 899px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 24px 18px;
        gap: 20px;
    }

    &-logo {
        fill: #fff;
        
        @media (max-width: 899px) {
            order: -1;
        }
    }

    &-text {
        color: #fff;
    }
}